.template-container {
  border: 1px solid #bb86fc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.template-container h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.content {
  font-size: 1rem;
  color: #FFF;
}
