<div class="content-container">
  <h1>Cyril Heiniger</h1>
  <div class="cv-container">
    <app-cv></app-cv>
  </div>
  <div class="card-container">
    <section id="http-codes">
      <app-template-card [title]="'HTTP Status Codes'">
        <div *ngIf="imageUrl; else loading">
          <h2>Random HTTP Status Code Cat</h2>
          <img [src]="imageUrl" alt="HTTP Cat" />
        </div>
        <ng-template #loading>
          <p>Loading a random HTTP cat...</p>
        </ng-template>
      </app-template-card>
    </section>

    <section id="catfacts">
      <app-template-card [title]="'Cat Fact'">
          <div *ngIf="catFact; else loading">
            <h2>Random Cat Fact</h2>
            <p>{{ catFact.fact }}</p>
          </div>
        <ng-template #loading>
          <p>Loading a random cat fact...</p>
        </ng-template>
      </app-template-card>
    </section>


    <section id="catPicture">
      <app-template-card [title]="'Cat Pictures'">
        <div *ngIf="imageUrlCatPic; else loading">
            <h2>Random Cat Picture</h2>
            <img [src]="imageUrlCatPic" alt="Cat Picture" />
          </div>
        <ng-template #loading>
          <p>Loading a random cat picture...</p>
        </ng-template>
      </app-template-card>
    </section>
  </div>


</div>
